<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

<!--LOCAL DB-->
<!--
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/java_vizsga?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
-->

<!--AWS DB-->
    <property name="hibernate.connection.url">jdbc:mysql://leftydb2.cysdjldjuoob.us-west-2.rds.amazonaws.com:3123/java_vizsga?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">balazs</property>
    <property name="hibernate.connection.password">J4v4Cs0p0rt</property>



    <mapping class="pojos.Kerdesek"/>
  </session-factory>
</hibernate-configuration>
